$white: #fff;
$black: #000;

$base__color: #333;
$body__backgroundColor: #eee;

$link__color: #c3251d;
$link__hover: #333;
$link__focus: #333;

$nav__linkColor: #333;
$primaryNav__backgroundColor: $white;
$primaryNav__linkColor: $nav__linkColor;
$secondaryNav__backgroundColor: $white;
$secondaryNav__linkColor: $nav__linkColor;

$siteFootre__backgroundColor: $white;